body {
color:#40514E;
  margin:0;
  text-align:center;
  font-family:"Merriweather", Serif;

}

h1 {
  font-size:5.625rem;
  margin-top:50px;
  padding-bottom: 10px;
  font-family: "Sacramento", cursive;
  color: #66BFBF;

}

h2 {
  font-size:2.5rem;
  margin-top: 0;
  font-family: "Montserrat", cursive;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  margin-top: 0;
  font-family: "Montserrat", cursive;
  color:#11999E;
}

p {
  line-height:2;
}

a {
  color:#11999E;
  font-family: "Montserrat", cursive;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color:#EAF6F6;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin:100px auto 100px auto;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position:relative;
}

.middle-container {
  margin: 80px auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.top-cloud{
  position:absolute;
  top:50px;
  left: 70%;
}

.bottom-cloud {
position:absolute;
top:350px;
left:20%;
}

.skill-row {
width:50%;
margin:100px auto 200px auto;
text-align:left;
line-height:2;
}

.skill-1 {
  float: left;
  margin-right: 30px;
}

.skill-2 {
  float: right;
  margin-left: 30px;
}

.skill-3 {
  float: left;
  margin-right: 30px;
}


.skills-header {
  margin-top::80px;
}

.intro{
  width: 50%;
  margin: auto;
}

.contact-me{
  width: 50%;
  margin:40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright{
  color:#EAF6F6;
  padding: 20px 0;
}
